{% extends 'base.html.twig' %}

{% block title %}
	{{ title|trans|capitalize }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}
	{% include "partials/page_title.html.twig" with {
        title: title|trans, 
        icon: 'book',
    } %}
	<div class="card shadow">
		<div class="card-body">
			{{ readme|markdown_to_html }}
		</div>
	</div>
{% endblock %}
