{% extends 'base.html.twig' %}

{% block title %}
	{{ title|trans|capitalize }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}
	{% include "partials/page_title.html.twig" with {
        title: title, 
        icon: constant('App\\Entity\\Tablette::ICON'),
        prefix: 'tablette'
    } %}

	<div class="card bg-light shadow">
		<div class="card-body">
			{{ include('tablette/_form.html.twig', {'button_label': 'Save'}) }}
		</div>
	</div>

	{% if tablette.id %}
		{{ include('tablette/_delete_form.html.twig') }}
	{% endif %}

{% endblock %}
