{% extends 'base.html.twig' %}

{% block title %}
	{{ title|trans|capitalize }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <a href="{{ path('tablette.new') }}">Create new</a>
    {% include "tablette/_table.html.twig" %}
{% endblock %}
