<div class="{{ this.class }}">
    {{ (this.title ? '<h2>' ~ this.title ~ '</h2>' : null)|raw }}

	{{ (this.bold ? '<strong>' ~ this.content ~ '</strong>' : this.content)|raw }}

	{% if this.dismissible %}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'close'|trans|capitalize }}"></button>
	{% endif %}

</div>
